/*
/*/
!/src/
!.gitattributes
!.gitignore
!build.bat
!build.gradle
!gradle.properties
!gradlew*
!gradlew
!gradlew.bat
!setup.bat
!/gradle/
!/LICENSE.md
!/README.md
!/run/mods/1.11/easyguilib/
!.editorconfig